body {
    margin: 0;
    padding: 0;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

body,html {
    height: 100%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
}

a {
    text-decoration: none;
    font-size: 15px;
    color: black;
}

textarea {
    resize: none;
}

.test {
    justify-content: space-between;
}

.user {
    text-align: right;
    margin-top: 5px;
    margin-bottom: 20px;
}

.title {
    display: inline-block;
    font-size: 20px;
    font-weight: 100;
}

.menu {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
}

.leftMenu {
    flex: 1;
    margin-left: 50px;
}

.logo {
    height: 60px;
    width: auto;
}

.rightMenu {
    flex: 3;
    margin-right: 50px;
}

.login-devider {
    top: -1px;
    padding: 0;
    font-size: 13px;
    position: relative;
    margin: 0 9px 0 5px;
    font-family: Tahoma;
    border-right: solid 1px #bbb;
}

.select {
    flex: 1;
    padding-bottom: 10px;
    text-align: center;
}

.select:hover {
    color: rgb(115, 141, 255);
    border-bottom: 1px solid purple;
    padding-bottom: 9px;
    cursor: pointer;
}

.list {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.element {
    width: 500px;
    height: 50px;
    text-align: center;
    align-content: center;
    font-size: 25px;
    margin: 20px;
    background-color: yellow;
    border: 2px solid rgb(141, 143, 95);
    border-radius: 20px;
}

.contestInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.contestName {
    font-size: 40px;
    padding: 10px;
}

.contestDescription {
    font-size: 25px;
    max-width: 100%;
    word-break: break-all;
    padding-bottom: 15px;
}

.contestAdmin {
    color: red;
    font-size: 15px;
}

.problemInfo {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.problemName {
    text-align: center;
    font-size: 40px;
    padding: 10px;
}

.problemDescription {
    white-space: pre-wrap;
    font-size: 20px;
    text-align: start;
    word-break: break-all;
    padding-bottom: 15px;
}

.problemInputDescription {
    white-space: pre-wrap;
    font-size: 20px;
    word-break: break-all;
    padding-bottom: 15px;
}

.problemOutputDescription {
    white-space: pre-wrap;
    font-size: 20px;
    word-break: break-all;
    padding-bottom: 15px;
}

.doubleDescription {
    display: flex;
    width: 100%;
}

.problemExampleInput {
    flex: 1;
    white-space: pre-wrap;
    font-size: 20px;
    padding: 6px 12px;
    margin-right: 20px;
    word-break: break-all;
    border: 1px solid rgb(177, 176, 176);
    background-color: #edecec;
}

.problemExampleOutput {
    flex: 1;
    white-space: pre-wrap;
    font-size: 20px;
    padding: 6px 12px;
    margin-right: 20px;
    word-break: break-all;
    border: 1px solid rgb(177, 176, 176);
    background-color: #edecec;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
}

.contentName {
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-bottom: 2px solid rgb(238, 238, 240);
}

.codeForm {
    width: 900px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

.codeText {
    width: 876px;
    padding: 6px 12px;
    font-size: 20px;
    background: #0c1021;
    color: rgb(248, 166, 83);
    overflow-x: auto;
    overflow-y: auto;
    white-space: pre;
}

.lang {
    padding: 6px 12px;
    font-size: 20px;
    margin-bottom: 10px;
}

.box {
    width: auto;
    height: auto;
    padding: 20px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.name {
    display: flex;
    justify-content: space-around;
}

.input-group-addon {
    padding: 6px 12px;
    font-size: 12px;
    text-align: center;
    margin-right: 5px;
    border-right: 1px solid gray;
}

.loginField {
    width: 200px;
    font-size: 14px;
    padding: 8px;
    border: 1px solid #1976d2;
    border-radius: 5px;
    box-sizing: border-box;
}

.loginButton {
	background-color: #1976d2;
	color: #fff;
	padding: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	width: 100%;
    margin-top: 20px;
}

.input-group {
    margin-top: 20px;
}

.regisTitle {
    font-size: 15px;
    margin-bottom: 10px;
}

.listBox {
    display: flex;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.col {
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
}

.listContent {
    padding: 6px 10px;
    text-align: center;
    font-size: 20px;
    border-bottom: 1px solid #e3e2e2;
}

.listContent:hover {
    border-bottom: 2px solid #1976d2;
}

.load {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.loader {
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #d2f8f5;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
    margin: auto auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.underLine {
    border: solid 1px #d6d4d4;
    width: 100%;
}

.banner {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    margin: 0px auto;
}

.content {
    flex: 1;
    box-sizing: border-box;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

@media (min-width: 0px) and (max-width: 400px) {
    .menu {
        padding-left: 5px;
        padding-right: 5px;
    }
    .leftMenu {
        margin-left: 20px;
    }
    .rightMenu {
        margin-right: 20px;
        flex: 2;
    }
    .logo {
        height: 30px;
    }
    .title {
        font-size: 9px;
    }
    .user > a {
        font-size: 9px;
    }
    .user {
        margin-bottom: 5px;
    }
    .login-devider {
        font-size: 7px;
    }
    .rightMenu > div > a {
        font-size: 9px;
    }
}

@media (min-width: 400px) and (max-width: 630px) {
    .menu {
        padding-left: 5px;
        padding-right: 5px;
    }
    .rightMenu {
        flex:2;
    }
    .logo {
        height: 40px;
    }
    .title {
        font-size: 11px;
    }
    .user > a {
        font-size: 11px;
    }
    .user {
        margin-bottom: 10px;
    }
    .login-devider {
        font-size: 9px;
    }
    .rightMenu > div > a {
        font-size: 11px;
    }
}

@media (min-width: 630px) and (max-width: 800px) {
    .menu {
        padding-left: 10px;
        padding-right: 10px;
    }
    .rightMenu {
        flex:2;
    }
    .logo {
        height: 50px;
    }
    .title {
        font-size: 13px;
    }
    .user > a {
        font-size: 13px;
    }
    .user {
        margin-bottom: 15px;
    }
    .login-devider {
        font-size: 11px;
    }
    .rightMenu > div > a {
        font-size: 13px;
    }
}

@media (min-width: 800px) and (max-width: 992px) {
    .menu {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (min-width: 992px) and (max-width: 1300px) {
    .menu {
        width: 970px;
    }
}

@media (min-width: 1300px) {
    .menu {
        width: 1200px;
    }
}