body {
    margin: 0;
    padding: 0;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
}

a {
    text-decoration: none;
    font-size: 15px;
    color: black;
}

textarea {
    resize: none;
}

.title {
    display: inline-block;
    font-size: 20px;
    font-weight: 100;
}

.menu {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.leftMenu {
    flex: 1;
    margin-left: 50px;
}

.logo {
    height: 60px;
    width: auto;
}

.rightMenu {
    flex: 3;
    margin-right: 50px;
}

.login-devider {
    top: -1px;
    padding: 0;
    font-size: 13px;
    position: relative;
    margin: 0 9px 0 5px;
    font-family: Tahoma;
    border-right: solid 1px #bbb;
}

.select {
    flex: 1;
    padding-bottom: 10px;
    text-align: center;
}

.select:hover {
    color: rgb(115, 141, 255);
    border-bottom: 1px solid purple;
    padding-bottom: 9px;
    cursor: pointer;
}

.list {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.element {
    width: 500px;
    height: 50px;
    text-align: center;
    align-content: center;
    font-size: 25px;
    margin: 20px;
    background-color: yellow;
    border: 2px solid rgb(141, 143, 95);
    border-radius: 20px;
}

.contestInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contestName {
    font-size: 40px;
    padding: 10px;
}

.contestDescription {
    font-size: 25px;
    max-width: 500px;
    word-break: break-all;
    padding-bottom: 15px;
}

.contestAdmin {
    color: red;
    font-size: 15px;
}

.problemInfo {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.problemName {
    text-align: center;
    font-size: 40px;
    padding: 10px;
}

.problemDescription {
    white-space: pre-wrap;
    font-size: 20px;
    text-align: start;
    word-break: break-all;
    padding-bottom: 15px;
}

.problemInputDescription {
    white-space: pre-wrap;
    font-size: 20px;
    word-break: break-all;
    padding-bottom: 15px;
}

.problemOutputDescription {
    white-space: pre-wrap;
    font-size: 20px;
    word-break: break-all;
    padding-bottom: 15px;
}

.doubleDescription {
    display: flex;
    width: 100%;
}

.problemExampleInput {
    flex: 1;
    white-space: pre-wrap;
    font-size: 20px;
    padding: 6px 12px;
    margin-right: 20px;
    word-break: break-all;
    border: 1px solid rgb(177, 176, 176);
    background-color: #edecec;
}

.problemExampleOutput {
    flex: 1;
    white-space: pre-wrap;
    font-size: 20px;
    padding: 6px 12px;
    margin-right: 20px;
    word-break: break-all;
    border: 1px solid rgb(177, 176, 176);
    background-color: #edecec;
}

.container {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentName {
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-bottom: 2px solid rgb(238, 238, 240);
}

.codeForm {
    width: 900px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

.codeText {
    width: 876px;
    padding: 6px 12px;
    font-size: 20px;
    background: #0c1021;
    color: rgb(248, 166, 83);
    overflow-x: auto;
    overflow-y: auto;
    white-space: pre;
}

.lang {
    padding: 6px 12px;
    font-size: 20px;
    margin-bottom: 10px;
}

.box {
    width: auto;
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.name {
    display: flex;
    justify-content: space-around;
}

.input-group-addon {
    padding: 6px 12px;
    font-size: 12px;
    text-align: center;
    margin-right: 5px;
    border-right: 1px solid gray;
}

.loginField {
    width: 200px;
    font-size: 14px;
    padding: 8px;
    margin-top: 20px;
    border: 1px solid #1976d2;
    border-radius: 5px;
    box-sizing: border-box;
}

.loginButton {
	background-color: #1976d2;
	color: #fff;
	padding: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	width: 100%;
    margin-top: 20px;
}

.underLine {
    border: solid 1px #d6d4d4;
    width: 100%;
}

.bottomBar {
    height: 300px;
    width: 100%;
    background: #252525;
    border-top: 5px solid #555;
    color: white;
}

@media (min-width: 400px) {
    .menu {
        width: 390px;
    }
}

@media (min-width: 630px) {
    .menu {
        width: 610px;
    }
}

@media (min-width: 768px) {
    .menu {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .menu {
        width: 970px;
    }
}

@media (min-width: 1300px) {
    .menu {
        width: 1200px;
    }
}