<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MiC 대회</title>
  <link href="../static/image/MiC_white.png" rel="shortcut icon" type="image/x-icon">
  <link rel="stylesheet" href="../static/CSS/style.css">
</head>
<body>
  <div class="menu">
    <span class="leftMenu"><a href="index.html"><img class="logo" src="../static/image/MiC_white.png" alt=""><span class="title">Mathematics<br>in Coding</span></a></span>
    <span class="rightMenu">
      <div style="text-align: right;">
        <a href="register.html">회원가입</a>
        <span class="login-devider"></span>
        <a href="login.html">로그인</a>
      </div>
      <div style="height: 20px;"></div>
      <div style="display: flex;">
        <a class="select" href="problem_list.html">문제</a>
        <a class="select" href="contest_list.html">대회</a>
        <a class="select" href="">게시판</a>
        <a class="select" href="">그룹</a>
        <a class="select" href="">검색</a>
      </div>
    </span>
  </div>
  <hr class="underLine">
  <div id="allContests"></div>
  <script src="../static/JS/allContests.js"></script>
</body>
</html>
