<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Supabase Data Example</title>
  <link rel="stylesheet" href="../static/CSS/style.css">
</head>
<body>
  <h1 class="title">Supabase Data Example</h1>
  <div class="menu">
    <span class="leftMenu"><a href="">뒤로가기</a></span>
    <span class="rightMenu">
      <div style="text-align: right;">
        <a href="">회원가입</a>
        <span class="login-devider"></span>
        <a href="">로그인</a>
      </div>
      <div style="height: 10px;"></div>
      <div style="display: flex;">
        <div class="select"><a href="">문제</a></div>
        <div class="select"><a href="">대회</a></div>
        <div class="select"><a href="">게시판</a></div>
        <div class="select"><a href="">그룹</a></div>
        <div class="select"><a href="">검색</a></div>
      </div>
    </span>
  </div>
  <div id="data"></div>
  <script src="../static/JS/script.js"></script>
</body>
</html>
