<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MiC 로그인</title>
  <link href="../static/image/MiC_white.png" rel="shortcut icon" type="image/x-icon">
  <link rel="stylesheet" href="../static/CSS/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <script src="../static/JS/login.js" defer></script>
  <script src="../static/JS/user.js" defer></script>
</head>
<body>
  <div class="menu">
    <span class="leftMenu"><a href="index.html"><img class="logo" src="../static/image/MiC_white.png" alt=""><span class="title">Mathematics<br>in Coding</span></a></span>
    <span class="rightMenu">
      <div id = "user"></div>
      <div style="height: 20px;"></div>
      <div style="display: flex;">
        <a class="select" href="problem_list.html">문제</a>
        <a class="select" href="contest_list.html">대회</a>
        <a class="select" href="">게시판</a>
        <a class="select" href="">그룹</a>
        <a class="select" href="">검색</a>
      </div>
    </span>
  </div>
  <hr class="underLine">
  <div class="container">
    <div class="box">
      <div>로그인</div>
      <span id="message"></span>
      <form id="loginForm">
        <div class="input-group">
          <span class="input-group-addon"><i class="fas fa-user"></i></span>
          <input class="loginField" type="text" id="siginInId" required>
        </div>
        <div class="input-group">
          <span class="input-group-addon"><i class="fas fa-lock"></i></span>
          <input class="loginField" type="password" id="siginInPassword" required>
        </div>
        <button class="loginButton" type="submit">로그인</button>
      </form>
    </div>
  </div>
</body>
</html>
