<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>MiC 대회 개최</title>
    <link href="/static/images/MiCwhite.png" rel="shortcut icon" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
</head>
<body>
    <form action="/home" method="post">
        <div class="box2" style="min-height: max-content; margin-top: 0px;">
            <input type="submit" class="topnv" value="MiC 주관 코딩대회">
        </div>
    </form>
    <div class="box2">
        <div class="formbox">
            <form action="/makecontest" method="post">
                <div class="container">
                    <h1>대회 정보</h1>
                    <hr class="hh">
                    {% if error %}
                        <div class="error-message">
                            <p>{{ error }}</p>
                        </div>
                    {% endif %}
                    <div class="line">
                        <div class="label-group">
                            <span class="label">본</span>
                            <span class="label">인</span>
                            <span class="label"> </span>
                            <span class="label">아</span>
                            <span class="label">이</span>
                            <span class="label">디:</span>
                        </div>
                        <input class="input-field" type="text" id="ID" name="ID" required>
                    </div>
                    <hr class="hh">
                    <div class="line">
                        <div class="label-group">
                            <span class="label">대</span>
                            <span class="label">회</span>
                            <span class="label"> </span>
                            <span class="label">이</span>
                            <span class="label">름:</span>
                        </div>
                        <input class="input-field" type="text" id="title" name="title" required>
                    </div>
                    <hr class="hh">
                    <div>
                        <span style="font-size: 18px; color: red;">만약 공개된 대회로 개최하고 싶다면 "open"을 써주세요</span>
                    </div>
                    <hr class="hh">
                    <div class="line">
                        <div class="label-group">
                            <span class="label">대</span>
                            <span class="label">회</span>
                            <span class="label"> </span>
                            <span class="label">비</span>
                            <span class="label">밀</span>
                            <span class="label">번</span>
                            <span class="label">호:</span>
                        </div>
                        <input class="input-field" type="password" id="password" name="password" required>
                    </div>
                    <hr class="hh">
                    <div class="line">
                        <div class="label-group">
                            <span class="label">대</span>
                            <span class="label">회</span>
                            <span class="label"> </span>
                            <span class="label">비</span>
                            <span class="label">밀</span>
                            <span class="label">번</span>
                            <span class="label">호</span>
                            <span class="label"> </span>
                            <span class="label">확</span>
                            <span class="label">인:</span>
                        </div>
                        <input class="input-field" type="password" id="password2" name="password2" required>
                    </div>
                    <hr class="hh">
                    <div class="line">
                        <div class="label-group">
                            <span class="label">대</span>
                            <span class="label">회</span>
                            <span class="label">에</span>
                            <span class="label"> </span>
                            <span class="label">대</span>
                            <span class="label">한</span>
                            <span class="label"> </span>
                            <span class="label">설</span>
                            <span class="label">명</span>
                        </div>
                    </div>
                    <hr class="hh">
                    <textarea class="longtext" id="description" name="description" rows="10" cols="50"></textarea>
                    <hr class="hh">
                </div>
                <hr class="hh">
                <input class="submit" type="submit" value="대회 개최">
                <hr class="hh">
            </form>
        </div>
    </div>
</body>
</html>
