<!DOCTYPE html>
<html>
<head>
    <title>Textarea with Line Numbers, Auto Resize, and Tab Spaces</title>
    <link rel="stylesheet" href="../static/CSS/style.css">
</head>
<body>
    <div class="contestInfo col">
        <div class="contestName col">제 1회</div>
        <div class="contestDescription col">s</div>
        <div class="contestAdmin col">관리자: sdsd</div>
    </div>
    <table class="list" style="width: 80%">
        <thead>
            <tr>
                <td class="col" style="width: 15%">번호</td>
                <td class="col" style="width: 85%">문제 이름</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="col" style="width: 15%">1</td>
                <td class="col" style="width: 85%"><a href="">sdsd</a></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
